<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
    <div class="container">
      <a href="#" class="navbar-brand">Tostot</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a routerLink="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navBarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Service Offering</a>
            <ul class="bg-dark dropdown-menu" aria-labelledby="navBarDropdown">
              <li class="nav-item">
                <a routerLink="/offering" class="nav-link">Development</a>
              </li>
              <li class="nav-item">
                <a href="#consulting" class="nav-link">Consulting</a>
              </li>
              <li class="nav-item">
                <a href="#resourcing" class="nav-link">Resourcing</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a routerLink="/about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" routerLink="/contact">Contact</a>
          </li>
  
        </ul>
      </div>
    </div>
  
  </nav>