<!-- Contact & Map -->
<section id="contact" class="p-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-md">
        <h2 class="text-left mb-4">Contact Us</h2>
        <p>
          Tostot Software Solutions Private Limited,<br>
          Technology Business Incubator,First Floor,<br>
          Excellence Building,<br>
          Thiagarajar Advanced Research Centre,<br>
          Thiagarajar College of Engineering,<br>
          Madurai-625015
        </p>
      </div>
      <div class="col-md">
        <div id="map"></div>
      </div>
    </div>
  </div>
</section>